h2{color: rgb(43, 31, 54); font-size: 20px}

section, footer 
    {background-color: rgb(239, 241, 237);
    border: 5px #f6ecf0 solid;
    padding: 50px;
}

header{
    background-color: rgb(71, 68, 68, 0.8);
    height: 90px;
    width: 99%;
    position: fixed;
}
h1{color:white;
    position:absolute;
    left: 120px;
    top:0;
    line-height: 50px;}
header a {color:white; 
    text-decoration: none;
}
header a:hover {text-decoration: underline;}
header li {display: inline; margin-right: 4vw;}
header ul{
    position:absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}
.intro{ background-color: antiquewhite;
    color: white;
    height: 70vh;
    background-image: url("https://pic3.zhimg.com/v2-defaace652087379a39b006b9cde3e7a_r.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.intro h2{
   font-size: 50px;
   color:rgb(59, 59, 53) ;
}
.intro a{color: rgb(58,59,53);
    text-decoration: none;
    border: 1px solid #372a2e;
    padding: 10px 20px;
    border-radius: 5px;
}

.intro a:hover{
    background-color: green;
    opacity: 0.6
}

.slogan{
    background-color: rgb(138, 181, 162);
    color: rgb(77, 67, 67);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
blockquote{
    font-size: 20px;
    line-height: 50px;
}

.notes{
    display: flex;
    background-color:#f6ecf0;
}
.notes img{
    width: 100%;
    border-radius: 10px;

}

.newsletter{
    background-color:rgb(138, 181, 162);
    color: rgb(77, 67, 67);
    padding: 60px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.newsletter input, .newsletter button{
    background-color: transparent;
    color: rgb(77, 67, 67);
    border: 1px solid #f6ecf0;
    padding: 10px;
    border-radius: 5px
}
input::placeholder{
    color: rgb(77, 67, 67);
}

div{height: 300px;
}

footer{
    background-color: rgb(71, 68, 68);
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px；
}

/*响应式设计语法*/
@media screen and (max-width: 768px){
    header ul{
        display: none;
    }
    header h1{
        left:50%;
        transform: translateX(-50%);}
    .intro h2{font-size: 40px};
}
